// responsive Setting
@mixin media-dv($device, $range: max) {
  @media all and (#{$range}-width: device($device, "key")) {
    @content;
  }
}

@mixin tablet {
  @include media-dv(tab) {
    @content;
  }
}

@mixin mobile {
  @include media-dv(mb) {
    @content;
  }
}

// responsive custom
@mixin media($px, $range: max) {
  @media all and (#{$range}-width: $px) {
    @content;
  }
}

// position: absolute
@mixin absolute($t: 0, $l: 0, $b: null, $r: null) {
  position: absolute;

  @if $t {
    top: if($b, auto, $t);
    bottom: $b;

    left: if($r, auto, $l);
    right: $r;
  }
}

// size
@mixin circle($s) {
  width: $s;
  height: $s;
  border-radius: 50%;
  @content;
}

@mixin square($s) {
  width: $s;
  height: $s;
}

@mixin full {
  width: 100%;
  height: 100%;
}

// flex items
@mixin flex($d: flex) {
  display: $d;
  @content;
}

@mixin flex-col($d: flex) {
  display: $d;
  flex-direction: column;
  @content;
}

@mixin flex-op($ai: null, $jc: null) {
  align-items: $ai;
  justify-content: $jc;
}

@mixin flex-center($d: flex) {
  display: $d;
  @include flex-op(center, center);

  @content;
}

@mixin flex-btw($d: flex) {
  display: $d;
  @include flex-op(center, space-between);

  @content;
}

// background image
@mixin bg-url($path, $img){
background-image: urlPath($path, $img);
}

@mixin bg-op($p: center, $s: auto, $r: no-repeat) {
  background-position: $p;
  background-size: $s;
  background-repeat: $r;
}

// bafore, after
@mixin make-before($c: "", $d: block) {
  &:before {
    content: $c;
    display: $d;
    @content;
  }
}

@mixin make-after($c: "", $d: block) {
  &:after {
    content: $c;
    display: $d;
    @content;
  }
}

// ie
@mixin ie-style {
  @at-root html.ie & {
    @content;
  }
}

// input
@mixin input-reset {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  box-shadow: none;
}

@mixin hover {

  &:hover,
  &:focus {
    @content;
  }
}

//shortening word
@mixin ellipse($line-cnt, $line-height) {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  line-height: $line-height; // $line-height : line-height값 (단위 필수)
  height: $line-height * $line-cnt;
  -webkit-line-clamp: $line-cnt; // $line-cnt : 라인 수
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

@mixin remove-ellipse {
  overflow: visible;
  text-overflow: unset;
  height: auto;
  line-height: 1.4;
  -webkit-line-clamp: unset; // $line-cnt : 라인 수
  -webkit-box-orient: unset;
}

// iphone notch
@mixin notch {

  /* iPhone XS : 2436x1125px at 458ppi */
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }

  /* iPhone XR : 1792x828px at 326ppi */
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    @content;
  }

  /* iPhone XS Max : 2688x1242px at 458ppi */
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

// gradient
@mixin gra($deg: to left,
  $start: color(primary),
  $st-per: 0%,
  $end: color(secondary),
  $e-per: 100%) {
  background: linear-gradient($deg, $start $st-per, $end $e-per);
  color: white;
}

@mixin btn-gra($deg: to left, $start: color(primary), $end: color(secondary)) {
  background: linear-gradient($deg, $start 0%, $end 50%, $start 100%);
  background-size: 200%;
  background-position: left top;
  color: white;
  transition: all 0.3s;

  @include hover {
    background-position-x: 100%;
  }
}

// scroll custom style
@mixin custom-scroll($c: null, $sub-c: #fff, $r: 0, $w: 4px) {
  &::-webkit-scrollbar {
    width: $w;
    height: 4px;
    background-color: $sub-c;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c;
    border-radius: $r;
  }

  @include ie-style {
    scrollbar-arrow-color: $c;
    scrollbar-face-color: $c;
    scrollbar-track-color: $sub-c;
  }
}

@mixin hide-scroll {
  &::-webkit-scrollbar {
    display: none !important;
  }
}