/* =================== main =================== */
.safehomes-landing-page {

  .l-center {
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
    padding: 0 16px;
  }
}

.safehomes-header {

  .header-inner {
    max-width: 1110px;
    width: 95%;
    margin: 0 auto;
    padding: 0 16px;
  }
}

.safehomes-footer {

  .footer-inner {
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
    padding: 0 16px;
  }
}