body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: full;
  background-size: 2200px;
  background-repeat: repeat-x;
  height: 100vh;
  z-index: -1;
}

.watch {
  display: flex;
  color: white;
  height: 72px;
  font-size: 72px;
}

#weather {
  display: flex;
  color: white;
  font-size: 24px;
}

.input_name {
  width: 240px;
  height: 24px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1;
  border-bottom: solid white;
  background: none;
  outline: none;
  text-align: center;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.input_name::placeholder {
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10x;
}

.input_todo {
  display: none;
  width: 240px;
  height: 24px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1;
  border-bottom: solid white;
  background: none;
  outline: none;
  text-align: center;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.input_todo::placeholder {
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10x;
}

.greeting {
  text-align: center;
  color: white;
}

.todoWrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

.deleteButton {
  border: none;
  background: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
