body {
  width: screen;
}

@media (max-width: 1024px) {
  body {
    width: screen;

    .img_section1 {
      display: grid;
      grid-template-columns: 300px 300px;
    }

    .img_section2 {
      display: grid;
      grid-template-columns: 300px 300px;
    }

    .img_section3 {
      display: grid;
      grid-template-colums: 300px 300px;
      grid-template-rows: 300px 300px;
    }

    .section4 {
      display: grid;
      grid-template-columns: 400px;
    }

    .section5 {
      display: grid;
      grid-template-columns: 300px 300px;
    }

    .footer {
      height: 160px;
    }

    .footer_1 {
      margin-left: 50px;
    }

    .footer_2 {
      margin-left: 50px;
    }
  }

  .logosection {
    margin-left: -200px;
  }

  .start {
    margin-left: 300px;
  }

  .inquiry {
    color: transparent;
  }

  .img_section3 {
    display: grid;
    grid-template-colums: 300px 300px;
    grid-template-rows: 300px 300px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.headersection {
  display: flex;
  float: right;
  justify-content: flex-end;
  margin-right: 400px;
}

.logo {
  width: 195px;
  height: 32px;
  margin-left: 400px;
}

.inquiry {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.start {
  display: flex;
  width: 90px;
  height: 30px;
  background-color: #0e7159;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.carousel {
  height: 768px;
  position: relative;
}

.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8; /* 투명도 조절 (0.0 ~ 1.0) */
}

.main_image {
  width: 100%;
  height: 768px;
  position: absolute;
  color: black;
}

.carousel_info {
  width: 100%;
  position: absolute;
  color: white;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 280px;
  z-index: 99;
}

.carousel_info2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  text-align: center;
  margin-top: 480px;
  z-index: 99;
}

.main_ment {
  margin-top: 130px;
  font-size: 48px;
  color: #0e7159;
  text-align: center;
}

.img_section1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  gap: 30px;
  margin-top: 40px;
}

.image_section1 {
  width: 293px;
  margin-bottom: 20px;
}

.section1_title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: bold;
  color: #333d4b;
}

.section1_info {
  font-size: 16px;
  color: #6b7684;
}

.section1_comment {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #0e7159;
}

.main_ment2 {
  margin-top: 240px;
  font-size: 48px;
  color: #0e7159;
  text-align: center;
}

.img_section2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  gap: 30px;
  margin-top: 40px;
}

.image_section2 {
  width: 293px;
  margin-bottom: 20px;
}

.main_ment3 {
  margin-top: 240px;
  margin-bottom: 80px;
  font-size: 48px;
  color: #0e7159;
  text-align: center;
}

.img_section3 {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  gap: 30px;
  margin-top: 40px;
}

.section3_count {
  font-size: 21px;
  font-weight: bold;
  color: #0e7159;
}

.section3_title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: bold;
  color: #333d4b;
}

.section3_info {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  color: #6b7684;
}

.section4 {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px;
  gap: 160px;
  margin-top: 180px;
}

.image_section2 {
  width: 293px;
  margin-bottom: 20px;
}

.phone_image {
  width: 335px;
  height: 679px;
}

.section4_count {
  font-size: 24px;
  font-weight: bold;
  color: #0e7159;
}

.section4_title {
  display: inline-block;
  margin-top: 14px;
  font-size: 40px;
  font-weight: bold;
  color: #333d4b;
}

.section4_info {
  display: inline-block;
  margin-top: 48px;
  font-size: 24px;
  color: #6b7684;
}

.section5 {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
  margin-top: 40px;
}

.main_ment5 {
  margin-top: 240px;
  margin-bottom: 80px;
  font-size: 48px;
  color: #0e7159;
  text-align: center;
}

.section5_box {
  width: 300px;
  height: 400px;
  border-radius: 16px;
  background-color: #f2f3f4;
  padding: 30px;
}

.section5_title {
  display: inline-block;
  margin-top: 14px;
  font-size: 24px;
  font-weight: bold;
  color: #333d4b;
}

.section5_info {
  display: inline-block;
  margin-top: 48px;
  font-size: 16px;
  color: #6b7684;
}

.section5_price {
  display: inline-block;
  margin-top: 32px;
  font-size: 32px;
  font-weight: bold;
  color: #0e7159;
}

.section5_detail {
  display: inline-block;
  margin-top: 32px;
  font-size: 16px;
  color: #6b7684;
}

.button {
  width: 290px;
  height: 64px;
  border: 0px;
  border-radius: 8px;
  background-color: #0e7159;
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.main_ment6 {
  margin-top: 240px;
  margin-bottom: 80px;
  font-size: 48px;
  color: #0e7159;
  text-align: center;
}

.section6 {
  display: grid;
  justify-content: center;
  grid-template-columns: 700px 700px 700px;
  gap: 100px;
  margin-top: 40px;
}

.section6_box {
  width: 680px;
  height: 360px;
  border-radius: 16px;
  background-color: #f2f3f4;
}

.section6_title {
  display: inline-block;
  margin-left: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #333d4b;
}

.section6_info {
  display: inline-block;
  margin-left: 50px;
  font-size: 18px;
  color: #6b7684;
}

.section6_detail {
  display: inline-block;
  margin-top: 32px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16px;
  color: #6b7684;
}

.favicon {
  display: inline-block;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 10px;
  width: 48px;
  height: 48px;
}

.footer_carousel {
  display: flex;
  flex-direction: column;
  height: 608px;
  margin-top: 140px;
  background-color: #0e7159;
  align-items: center;
}

.footer_ment {
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-top: 140px;
  text-align: center;
}

.footer_button {
  width: 170px;
  height: 60px;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  color: #0e7159;
  border: 0px;
}

.footer {
  margin-right: 400px;
  height: 160px;
}

.footer_1 {
  margin-top: 26px;
  margin-left: 400px;
  font-size: 16px;
  color: #333d4b;
  font-weight: bold;
}

.footer_2 {
  margin-top: 26px;
  margin-left: 400px;
  font-size: 14px;
  color: #6b7684;
  line-height: 24px;
}
