/* =================== fonts =================== */
/* ---------- noto sans kr ---------- */
@font-face {
  font-family: "noto";
  font-weight: 800;
  src: url("../../fonts/notosanskr/NotoSansKR-Black.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Black.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Black.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Black.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 600;
  src: url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 500;
  src: url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 400;
  src: url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 300;
  src: url("../../fonts/notosanskr/NotoSansKR-Light.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Light.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Light.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 200;
  src: url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 100;
  src: url("../../fonts/notosanskr/NotoSansKR-Thin.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.otf") format("opentype");
  font-display: swap;
}

/* ---------- helvetica neue ---------- */
@font-face {
  font-family: "helvatica";
  font-weight: 800;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff2") format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff") format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.ttf") format("truetype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "helvatica";
  font-weight: 600;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff2") format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff") format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.ttf") format("truetype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "helvatica";
  font-weight: 400;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff2") format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff") format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.ttf") format("truetype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "helvatica";
  font-weight: 300;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff2") format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff") format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.ttf") format("truetype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.otf") format("opentype");
  font-display: swap;
}

/* ---------- open sans ---------- */
@font-face {
  font-family: "open sans";
  font-weight: 800;
  src: url("../../fonts/open_sans/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../../fonts/open_sans/OpenSans-ExtraBold.woff") format("woff"),
    url("../../fonts/open_sans/OpenSans-ExtraBold.ttf") format("truetype"),
    url("../../fonts/open_sans/OpenSans-ExtraBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "open sans";
  font-weight: 700;
  src: url("../../fonts/open_sans/OpenSans-Bold.woff2") format("woff2"),
    url("../../fonts/open_sans/OpenSans-Bold.woff") format("woff"),
    url("../../fonts/open_sans/OpenSans-Bold.ttf") format("truetype"),
    url("../../fonts/open_sans/OpenSans-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "open sans";
  font-weight: 600;
  src: url("../../fonts/open_sans/OpenSans-SemiBold.woff2") format("woff2"),
    url("../../fonts/open_sans/OpenSans-SemiBold.woff") format("woff"),
    url("../../fonts/open_sans/OpenSans-SemiBold.ttf") format("truetype"),
    url("../../fonts/open_sans/OpenSans-SemiBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "open sans";
  font-weight: 400;
  src: url("../../fonts/open_sans/OpenSans-Regular.woff2") format("woff2"),
    url("../../fonts/open_sans/OpenSans-Regular.woff") format("woff"),
    url("../../fonts/open_sans/OpenSans-Regular.ttf") format("truetype"),
    url("../../fonts/open_sans/OpenSans-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "open sans";
  font-weight: 300;
  src: url("../../fonts/open_sans/OpenSans-Light.woff2") format("woff2"),
    url("../../fonts/open_sans/OpenSans-Light.woff") format("woff"),
    url("../../fonts/open_sans/OpenSans-Light.ttf") format("truetype"),
    url("../../fonts/open_sans/OpenSans-Light.otf") format("opentype");
  font-display: swap;
}

/* ---------- nanum square ---------- */
@font-face {
  font-family: "nanum square";
  font-weight: 800;
  src: url("../../fonts/nanumsquare/NanumSquare_acEB.woff2") format("woff2"),
    url("../../fonts/nanumsquare/NanumSquare_acEB.woff") format("woff"),
    url("../../fonts/nanumsquare/NanumSquare_acEB.ttf") format("truetype"),
    url("../../fonts/nanumsquare/NanumSquare_acEB.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "nanum square";
  font-weight: 600;
  src: url("../../fonts/nanumsquare/NanumSquare_acB.woff2") format("woff2"),
    url("../../fonts/nanumsquare/NanumSquare_acB.woff") format("woff"),
    url("../../fonts/nanumsquare/NanumSquare_acB.ttf") format("truetype"),
    url("../../fonts/nanumsquare/NanumSquare_acB.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "nanum square";
  font-weight: 400;
  src: url("../../fonts/nanumsquare/NanumSquare_acR.woff2") format("woff2"),
    url("../../fonts/nanumsquare/NanumSquare_acR.woff") format("woff"),
    url("../../fonts/nanumsquare/NanumSquare_acR.ttf") format("truetype"),
    url("../../fonts/nanumsquare/NanumSquare_acR.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "nanum square";
  font-weight: 300;
  src: url("../../fonts/nanumsquare/NanumSquare_acL.woff2") format("woff2"),
    url("../../fonts/nanumsquare/NanumSquare_acL.woff") format("woff"),
    url("../../fonts/nanumsquare/NanumSquare_acL.ttf") format("truetype"),
    url("../../fonts/nanumsquare/NanumSquare_acL.otf") format("opentype");
  font-display: swap;
}

/* ---------- spoqa han sans neo ---------- */
@font-face {
  font-family: "spoqa";
  font-weight: 600;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff") format("woff"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.ttf") format("truetype"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "spoqa";
  font-weight: 500;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff") format("woff"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.ttf") format("truetype"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "spoqa";
  font-weight: 400;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff") format("woff"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.ttf") format("truetype"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "spoqa";
  font-weight: 300;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff") format("woff"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.ttf") format("truetype"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "spoqa";
  font-weight: 100;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff") format("woff"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.ttf") format("truetype"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.otf") format("opentype");
  font-display: swap;
}

/* ---------- poppins ---------- */
@font-face {
  font-family: "poppins";
  font-weight: 900;
  src: url("../../fonts/poppins/Poppins-Black.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Black.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Black.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Black.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 800;
  src: url("../../fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-ExtraBold.woff") format("woff"),
    url("../../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-ExtraBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 700;
  src: url("../../fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Bold.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Bold.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 600;
  src: url("../../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-SemiBold.woff") format("woff"),
    url("../../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-SemiBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 500;
  src: url("../../fonts/poppins/Poppins-Medium.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Medium.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Medium.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 400;
  src: url("../../fonts/poppins/Poppins-Regular.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Regular.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Regular.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 300;
  src: url("../../fonts/poppins/Poppins-Light.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Light.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Light.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 200;
  src: url("../../fonts/poppins/Poppins-ExtraLight.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-ExtraLight.woff") format("woff"),
    url("../../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-ExtraLight.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 100;
  src: url("../../fonts/poppins/Poppins-Thin.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Thin.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Thin.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Thin.otf") format("opentype");
  font-display: swap;
}

/* ---------- roboto ---------- */
@font-face {
  font-family: "roboto";
  font-weight: 300;
  src: url("../../fonts/roboto/Roboto-Thin.woff2") format("woff2"),
    url("../../fonts/roboto/Roboto-Thin.woff") format("woff"),
    url("../../fonts/roboto/Roboto-Thin.ttf") format("truetype"),
    url("../../fonts/roboto/Roboto-Thin.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: 400;
  src: url("../../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../../fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype"),
    url("../../fonts/roboto/Roboto-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: 500;
  src: url("../../fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../../fonts/roboto/Roboto-Medium.woff") format("woff"),
    url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype"),
    url("../../fonts/roboto/Roboto-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: 600;
  src: url("../../fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("../../fonts/roboto/Roboto-Bold.woff") format("woff"),
    url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype"),
    url("../../fonts/roboto/Roboto-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: 800;
  src: url("../../fonts/roboto/Roboto-Black.woff2") format("woff2"),
    url("../../fonts/roboto/Roboto-Black.woff") format("woff"),
    url("../../fonts/roboto/Roboto-Black.ttf") format("truetype"),
    url("../../fonts/roboto/Roboto-Black.otf") format("opentype");
  font-display: swap;
}

/* ---------- pretendard ---------- */
@font-face {
  font-family: "pretendard";
  font-weight: 100;
  src: url("../../fonts/pretendard/Pretendard-Thin.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-Thin.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-Thin.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 200;
  src: url("../../fonts/pretendard/Pretendard-ExtraLight.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-ExtraLight.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 300;
  src: url("../../fonts/pretendard/Pretendard-Light.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-Light.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-Light.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url("../../fonts/pretendard/Pretendard-Regular.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-Regular.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-Regular.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 500;
  src: url("../../fonts/pretendard/Pretendard-Medium.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-Medium.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-Medium.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 600;
  src: url("../../fonts/pretendard/Pretendard-SemiBold.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-SemiBold.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 700;
  src: url("../../fonts/pretendard/Pretendard-Bold.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-Bold.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-Bold.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 800;
  src: url("../../fonts/pretendard/Pretendard-ExtraBold.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 900;
  src: url("../../fonts/pretendard/Pretendard-Black.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-Black.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-Black.otf") format("opentype");
}