body {
  font-family: "IBM Plex Sans KR", sans-serif;
}

.header {
  display: flex;
  height: 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-top: 80px;
}

.section {
  display: flex;
  width: full;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.link {
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 4px;
}

.icon {
  width: 48px;
  height: 48px;
}

.icon:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.myImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.introduce {
  text-align: center;
}

.detail {
  margin-top: 14px;
}

.detail_lan {
  font-weight: bold;
  margin-top: 24px;
}

.image_section {
  margin-top: 60px;
}

.image_section1 {
  display: flex;
  margin-left: -60px;
}

.image_section2 {
  display: flex;

  margin-left: 60px;
}

.image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
}

.image:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.image:not(:hover) {
  transition: all 0.3s linear;
}

.footer {
  display: inline-block;
  height: 100px;
  margin-top: 140px;
  color: rgb(134, 132, 132);
}
