@charset "UTF-8";
/* =================== base =================== */
html,
body,
[class] {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.15;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "helvatica", "noto", "spoqa", sans-serif;
  letter-spacing: -0.04em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

/* HTML5 display-role reset for older browsers */
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

textarea {
  resize: none;
}

select {
  padding: 5px 10px;
}

/* ie 화살표 제거 */
select::-ms-expand {
  display: none;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

/* =================== fonts =================== */
/* ---------- noto sans kr ---------- */
@font-face {
  font-family: "noto";
  font-weight: 800;
  src: url("../../fonts/notosanskr/NotoSansKR-Black.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Black.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Black.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Black.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "noto";
  font-weight: 600;
  src: url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "noto";
  font-weight: 500;
  src: url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "noto";
  font-weight: 400;
  src: url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "noto";
  font-weight: 300;
  src: url("../../fonts/notosanskr/NotoSansKR-Light.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Light.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Light.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "noto";
  font-weight: 200;
  src: url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "noto";
  font-weight: 100;
  src: url("../../fonts/notosanskr/NotoSansKR-Thin.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Thin.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Thin.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Thin.otf") format("opentype");
  font-display: swap;
}
/* ---------- helvetica neue ---------- */
@font-face {
  font-family: "helvatica";
  font-weight: 800;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "helvatica";
  font-weight: 600;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "helvatica";
  font-weight: 400;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "helvatica";
  font-weight: 300;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.otf") format("opentype");
  font-display: swap;
}
/* ---------- open sans ---------- */
@font-face {
  font-family: "open sans";
  font-weight: 800;
  src: url("../../fonts/open_sans/OpenSans-ExtraBold.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-ExtraBold.woff") format("woff"), url("../../fonts/open_sans/OpenSans-ExtraBold.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-ExtraBold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "open sans";
  font-weight: 700;
  src: url("../../fonts/open_sans/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-Bold.woff") format("woff"), url("../../fonts/open_sans/OpenSans-Bold.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "open sans";
  font-weight: 600;
  src: url("../../fonts/open_sans/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-SemiBold.woff") format("woff"), url("../../fonts/open_sans/OpenSans-SemiBold.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-SemiBold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "open sans";
  font-weight: 400;
  src: url("../../fonts/open_sans/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-Regular.woff") format("woff"), url("../../fonts/open_sans/OpenSans-Regular.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "open sans";
  font-weight: 300;
  src: url("../../fonts/open_sans/OpenSans-Light.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-Light.woff") format("woff"), url("../../fonts/open_sans/OpenSans-Light.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-Light.otf") format("opentype");
  font-display: swap;
}
/* ---------- nanum square ---------- */
@font-face {
  font-family: "nanum square";
  font-weight: 800;
  src: url("../../fonts/nanumsquare/NanumSquare_acEB.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acEB.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acEB.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acEB.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "nanum square";
  font-weight: 600;
  src: url("../../fonts/nanumsquare/NanumSquare_acB.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acB.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acB.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acB.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "nanum square";
  font-weight: 400;
  src: url("../../fonts/nanumsquare/NanumSquare_acR.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acR.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acR.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acR.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "nanum square";
  font-weight: 300;
  src: url("../../fonts/nanumsquare/NanumSquare_acL.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acL.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acL.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acL.otf") format("opentype");
  font-display: swap;
}
/* ---------- spoqa han sans neo ---------- */
@font-face {
  font-family: "spoqa";
  font-weight: 600;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "spoqa";
  font-weight: 500;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "spoqa";
  font-weight: 400;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "spoqa";
  font-weight: 300;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "spoqa";
  font-weight: 100;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.otf") format("opentype");
  font-display: swap;
}
/* ---------- poppins ---------- */
@font-face {
  font-family: "poppins";
  font-weight: 900;
  src: url("../../fonts/poppins/Poppins-Black.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Black.woff") format("woff"), url("../../fonts/poppins/Poppins-Black.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Black.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  font-weight: 800;
  src: url("../../fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ExtraBold.woff") format("woff"), url("../../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ExtraBold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  font-weight: 700;
  src: url("../../fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Bold.woff") format("woff"), url("../../fonts/poppins/Poppins-Bold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  font-weight: 600;
  src: url("../../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-SemiBold.woff") format("woff"), url("../../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-SemiBold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  font-weight: 500;
  src: url("../../fonts/poppins/Poppins-Medium.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Medium.woff") format("woff"), url("../../fonts/poppins/Poppins-Medium.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  font-weight: 400;
  src: url("../../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Regular.woff") format("woff"), url("../../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  font-weight: 300;
  src: url("../../fonts/poppins/Poppins-Light.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Light.woff") format("woff"), url("../../fonts/poppins/Poppins-Light.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  font-weight: 200;
  src: url("../../fonts/poppins/Poppins-ExtraLight.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ExtraLight.woff") format("woff"), url("../../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ExtraLight.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  font-weight: 100;
  src: url("../../fonts/poppins/Poppins-Thin.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Thin.woff") format("woff"), url("../../fonts/poppins/Poppins-Thin.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Thin.otf") format("opentype");
  font-display: swap;
}
/* ---------- roboto ---------- */
@font-face {
  font-family: "roboto";
  font-weight: 300;
  src: url("../../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../../fonts/roboto/Roboto-Thin.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Thin.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  font-weight: 400;
  src: url("../../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  font-weight: 500;
  src: url("../../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  font-weight: 600;
  src: url("../../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  font-weight: 800;
  src: url("../../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Black.woff") format("woff"), url("../../fonts/roboto/Roboto-Black.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Black.otf") format("opentype");
  font-display: swap;
}
/* ---------- pretendard ---------- */
@font-face {
  font-family: "pretendard";
  font-weight: 100;
  src: url("../../fonts/pretendard/Pretendard-Thin.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Thin.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Thin.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 200;
  src: url("../../fonts/pretendard/Pretendard-ExtraLight.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-ExtraLight.woff") format("woff"), url("../../fonts/pretendard/Pretendard-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 300;
  src: url("../../fonts/pretendard/Pretendard-Light.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Light.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url("../../fonts/pretendard/Pretendard-Regular.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Regular.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 500;
  src: url("../../fonts/pretendard/Pretendard-Medium.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Medium.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 600;
  src: url("../../fonts/pretendard/Pretendard-SemiBold.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-SemiBold.woff") format("woff"), url("../../fonts/pretendard/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 700;
  src: url("../../fonts/pretendard/Pretendard-Bold.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Bold.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 800;
  src: url("../../fonts/pretendard/Pretendard-ExtraBold.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff"), url("../../fonts/pretendard/Pretendard-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 900;
  src: url("../../fonts/pretendard/Pretendard-Black.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Black.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Black.otf") format("opentype");
}
/* =================== helper =================== */
.is-none {
  display: none;
}

.voice-only {
  position: absolute;
  top: 0;
  left: -9999rem;
  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}

@media all and (max-width: 600px) {
  .mb-hide {
    display: none !important;
  }
}

.mb-show {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show {
    display: block !important;
  }
}

.mb-show-flex {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.mb-show-ib {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 900px) {
  .tab-hide {
    display: none !important;
  }
}

.tab-show {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show {
    display: block !important;
  }
}

.tab-show-flex {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.tab-show-ib {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 360px) {
  .sm-hide {
    display: none !important;
  }
}

.sm-show {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show {
    display: block !important;
  }
}

.sm-show-flex {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.sm-show-ib {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 320px) {
  .xsm-hide {
    display: none !important;
  }
}

.xsm-show {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show {
    display: block !important;
  }
}

.xsm-show-flex {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.xsm-show-ib {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show-ib {
    display: inline-block !important;
  }
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.scroll-custom {
  overflow-y: auto;
}
.scroll-custom::-webkit-scrollbar {
  width: 5px;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: pink;
}
html.ie .scroll-custom {
  scrollbar-arrow-color: lightblue;
  scrollbar-face-color: lightblue;
  scrollbar-track-color: pink;
}

/* =================== button =================== */
.btn {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.btn:disabled {
  background-color: gray;
  cursor: default;
}

.btn-sm {
  height: 30px;
}

.btn-md {
  height: 50px;
}

.btn-lg {
  height: 70px;
}

.btn-full {
  width: 100%;
  height: 100%;
}

.btn-primary {
  background-color: lightblue;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: transparent;
  border: 1px solid lightblue;
}

.btn-secondary {
  background-color: pink;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: transparent;
  border: 1px solid pink;
}

.btn-gray-55 {
  background-color: #555;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gray-55:hover, .btn-gray-55:focus {
  background-color: transparent;
  border: 1px solid #555;
}

.btn-bd-primary {
  border: 1px solid lightblue;
  background-color: white;
  color: lightblue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-bd-primary:hover, .btn-bd-primary:focus {
  background-color: lightblue;
  color: black;
}

.btn-bd-secondary {
  border: 1px solid pink;
  background-color: white;
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-bd-secondary:hover, .btn-bd-secondary:focus {
  background-color: pink;
  color: black;
}

.btn-bd-gray-55 {
  border: 1px solid #555;
  background-color: white;
  color: #555;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-bd-gray-55:hover, .btn-bd-gray-55:focus {
  background-color: #555;
  color: black;
}

.btn-gst-primary {
  border: 1px solid lightblue;
  color: lightblue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gst-primary:hover, .btn-gst-primary:focus {
  background-color: lightblue;
  color: black;
}

.btn-gst-secondary {
  border: 1px solid pink;
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gst-secondary:hover, .btn-gst-secondary:focus {
  background-color: pink;
  color: black;
}

.btn-gst-gray-55 {
  border: 1px solid #555;
  color: #555;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gst-gray-55:hover, .btn-gst-gray-55:focus {
  background-color: #555;
  color: black;
}

.btn-kakao {
  background-color: #fae300;
  color: #ffffff;
}

.btn-facebook {
  background-color: #204889;
  color: #ffffff;
}

.btn-naver {
  background-color: #00bf19;
  color: #ffffff;
}

.btn-kakao {
  color: #2b1718;
}

.btn-icon {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

/* =================== form =================== */
.input-wrap {
  width: 100%;
}

.input {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 17px;
  border-radius: 6px;
  background-color: white;
  font-size: 1.125em;
  border: 1px solid;
}
.input:hover, .input:focus {
  border-color: lightblue;
}
.input::-webkit-input-placeholder {
  opacity: 0.7;
}
.input::-moz-placeholder {
  opacity: 0.7;
}
.input:-ms-input-placeholder {
  opacity: 0.7;
}
.input::-ms-input-placeholder {
  opacity: 0.7;
}
.input::placeholder {
  opacity: 0.7;
}
.input.input-tarea {
  width: 100%;
  height: 500px;
  padding: 20px;
  border: 1px solid;
  border-radius: 6px;
  resize: none;
}
.input.input-round {
  border: 1px solid;
  border-radius: 25px;
}
.input.input-underbar {
  border-bottom: 1px solid;
}

/* ========== icon 관련 스타일 ========== */
.icon {
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/* ========== END icon 관련 스타일 ========== */
/* =================== layout =================== */
#app {
  min-height: 100%;
}

#page {
  min-height: 100%;
}

.l-center {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
  padding: 0 16px;
}

.panel {
  max-width: 915px;
  width: 100%;
  margin: 0 auto;
}

/* =================== header =================== */
.default-header {
  width: 100%;
  background-color: #fff;
}

.header-inner {
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  padding: 0 16px;
}
@media all and (max-width: 600px) {
  .header-inner {
    max-width: 100%;
    height: 48px;
  }
}

/* =================== footer =================== */
.default-footer {
  width: 100%;
  background-color: #fff;
}

.footer-inner {
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  padding: 0 16px;
}
@media all and (max-width: 600px) {
  .footer-inner {
    max-width: 100%;
    height: 48px;
  }
}

/* =================== main =================== */