// gray color는 따로 사용하고, red등의 컬러 추가해서 사용
$color-set: (
  primary: lightblue,
  secondary: pink,
  gray-55: #555,
  text: black,
  border: #cdcdcd,
);

$zIndex-set: (
  popup: 100,
  fixed: 20,
  header: 10,
  double: 2,
  default: 1,
  zero: 0,
  minus: -1,
);

$path-set: (
  icon: "../../images/icon/",
  img: "../../images/img/",
);

$breakpoints: (
  mb: (600px: "모바일",
  ),
  tab: (900px: "태블릿",
  ),
  web: (1200px: "웹",
  ),
);

// 높이, 넓이
$gnb-height: 100px;
$m-gnb-height: 50px;

// button & badge
// btn 높이 추가하면 .btn-ht-크기 가 추가된다.
$btn-height: (
  sm: 30,
  md: 50,
  lg: 70,
);

// btn color 추가하면 .btn-색이름 .btn-bd-색이름 .btn-gst-색이름 이 추가된다.
$btn-color: (
  primary: #{color(primary)},
  secondary: color(secondary),
  gray-55: color(gray-55),
);

// .btn-소셜이름 이 추가된다.
$socail: (
  kakao: #fae300,
  facebook: #204889,
  naver: #00bf19,
  // twitter: #228cce,
);