/* =================== footer =================== */
.default-footer {
  width: 100%;
  background-color: #fff;
}

.footer-inner {
  max-width: 580px;
  margin: 0 auto;
  padding: 0 16px;

  @include mobile {
    max-width: 100%;
  }
}