@charset "UTF-8";
/* =================== base =================== */
html,
body,
[class] {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.15;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "spoqa", sans-serif;
  letter-spacing: -0.04em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

/* HTML5 display-role reset for older browsers */
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

textarea {
  resize: none;
}

select {
  padding: 5px 10px;
}

/* ie 화살표 제거 */
select::-ms-expand {
  display: none;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

/* =================== fonts =================== */
/* ---------- spoqa han sans neo ---------- */
@font-face {
  font-family: "spoqa";
  font-weight: 600;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "spoqa";
  font-weight: 500;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "spoqa";
  font-weight: 400;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "spoqa";
  font-weight: 300;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "spoqa";
  font-weight: 100;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.otf") format("opentype");
  font-display: swap;
}
/* =================== helper =================== */
.is-none {
  display: none;
}

.voice-only {
  position: absolute;
  top: 0;
  left: -9999rem;
  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}

@media all and (max-width: 600px) {
  .mb-hide {
    display: none !important;
  }
}

.mb-show {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show {
    display: block !important;
  }
}

.mb-show-flex {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.mb-show-ib {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 900px) {
  .tab-hide {
    display: none !important;
  }
}

.tab-show {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show {
    display: block !important;
  }
}

.tab-show-flex {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.tab-show-ib {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 360px) {
  .sm-hide {
    display: none !important;
  }
}

.sm-show {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show {
    display: block !important;
  }
}

.sm-show-flex {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.sm-show-ib {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 320px) {
  .xsm-hide {
    display: none !important;
  }
}

.xsm-show {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show {
    display: block !important;
  }
}

.xsm-show-flex {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.xsm-show-ib {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show-ib {
    display: inline-block !important;
  }
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.scroll-custom {
  overflow-y: auto;
}
.scroll-custom::-webkit-scrollbar {
  width: 5px;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: pink;
}
html.ie .scroll-custom {
  scrollbar-arrow-color: lightblue;
  scrollbar-face-color: lightblue;
  scrollbar-track-color: pink;
}

/* =================== button =================== */
.btn {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.btn:disabled {
  background-color: gray;
  cursor: default;
}

.btn-sm {
  height: 30px;
}

.btn-md {
  height: 50px;
}

.btn-lg {
  height: 70px;
}

.btn-full {
  width: 100%;
  height: 100%;
}

.btn-primary {
  background-color: lightblue;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: transparent;
  border: 1px solid lightblue;
}

.btn-secondary {
  background-color: pink;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: transparent;
  border: 1px solid pink;
}

.btn-gray-55 {
  background-color: #555;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gray-55:hover, .btn-gray-55:focus {
  background-color: transparent;
  border: 1px solid #555;
}

.btn-bd-primary {
  border: 1px solid lightblue;
  background-color: white;
  color: lightblue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-bd-primary:hover, .btn-bd-primary:focus {
  background-color: lightblue;
  color: black;
}

.btn-bd-secondary {
  border: 1px solid pink;
  background-color: white;
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-bd-secondary:hover, .btn-bd-secondary:focus {
  background-color: pink;
  color: black;
}

.btn-bd-gray-55 {
  border: 1px solid #555;
  background-color: white;
  color: #555;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-bd-gray-55:hover, .btn-bd-gray-55:focus {
  background-color: #555;
  color: black;
}

.btn-gst-primary {
  border: 1px solid lightblue;
  color: lightblue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gst-primary:hover, .btn-gst-primary:focus {
  background-color: lightblue;
  color: black;
}

.btn-gst-secondary {
  border: 1px solid pink;
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gst-secondary:hover, .btn-gst-secondary:focus {
  background-color: pink;
  color: black;
}

.btn-gst-gray-55 {
  border: 1px solid #555;
  color: #555;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gst-gray-55:hover, .btn-gst-gray-55:focus {
  background-color: #555;
  color: black;
}

.btn-kakao {
  background-color: #fae300;
  color: #ffffff;
}

.btn-facebook {
  background-color: #204889;
  color: #ffffff;
}

.btn-naver {
  background-color: #00bf19;
  color: #ffffff;
}

.btn-kakao {
  color: #2b1718;
}

.btn-icon {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

/* =================== form =================== */
.input-wrap {
  width: 100%;
}

.input {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 17px;
  border-radius: 6px;
  background-color: white;
  font-size: 1.125em;
  border: 1px solid;
}
.input:hover, .input:focus {
  border-color: lightblue;
}
.input::-webkit-input-placeholder {
  opacity: 0.7;
}
.input::-moz-placeholder {
  opacity: 0.7;
}
.input:-ms-input-placeholder {
  opacity: 0.7;
}
.input::-ms-input-placeholder {
  opacity: 0.7;
}
.input::placeholder {
  opacity: 0.7;
}
.input.input-tarea {
  width: 100%;
  height: 500px;
  padding: 20px;
  border: 1px solid;
  border-radius: 6px;
  resize: none;
}
.input.input-round {
  border: 1px solid;
  border-radius: 25px;
}
.input.input-underbar {
  border-bottom: 1px solid;
}

/* ========== icon 관련 스타일 ========== */
.icon {
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/* ========== END icon 관련 스타일 ========== */
/* =================== layout =================== */
#app {
  min-height: 100%;
}

#page {
  min-height: 100%;
}

.l-center {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
  padding: 0 16px;
}

.panel {
  max-width: 915px;
  width: 100%;
  margin: 0 auto;
}

/* =================== header =================== */
.default-header {
  width: 100%;
  background-color: #fff;
}

.header-inner {
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  padding: 0 16px;
}
@media all and (max-width: 600px) {
  .header-inner {
    max-width: 100%;
    height: 48px;
  }
}

/* =================== footer =================== */
.default-footer {
  width: 100%;
  background-color: #fff;
}

.footer-inner {
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  padding: 0 16px;
}
@media all and (max-width: 600px) {
  .footer-inner {
    max-width: 100%;
    height: 48px;
  }
}

/* =================== main =================== */
.safehomes-landing-page .section-title {
  font-size: 48px;
  font-weight: 500;
  color: #0E7159;
  margin-bottom: 50px;
  text-align: center;
}
@media all and (max-width: 600px) {
  .safehomes-landing-page .section-title {
    font-size: 21px;
    margin-bottom: 40px;
  }
}
.safehomes-landing-page .section-title .strong {
  font-weight: 600;
}
.safehomes-landing-page .section-list-wrap .section-list-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 48px;
}
@media all and (max-width: 600px) {
  .safehomes-landing-page .section-list-wrap .section-list-grp {
    display: block;
  }
}
.safehomes-landing-page .section-list-wrap .section-list {
  width: calc((100% - 96px) / 3);
}
@media all and (max-width: 600px) {
  .safehomes-landing-page .section-list-wrap .section-list {
    width: 100%;
  }
}
.safehomes-landing-page .section-list-wrap .section-list .list-img-wrap {
  overflow: hidden;
  width: 100%;
  height: 233px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.safehomes-landing-page .section-list-wrap .section-list .list-img-wrap .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.safehomes-landing-page .section-list-wrap .section-list .list-txt-wrap .list-txt-ttl {
  font-size: 21px;
  font-weight: 600;
  color: #333D4B;
  margin-bottom: 16px;
}
.safehomes-landing-page .section-list-wrap .section-list .list-txt-wrap .list-txt-dec {
  font-size: 16px;
  font-weight: 400;
  color: #6B7684;
}
.safehomes-landing-page .section-link-wrap {
  margin: 0 auto;
}
.safehomes-landing-page .section-link-wrap .section-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #0E7159;
  font-weight: 600;
  gap: 7px;
  margin-top: 25px;
}
.safehomes-landing-page .l-center {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
  padding: 0 16px;
}

.safehomes-header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
  width: 95%;
  margin: 0 auto;
  padding: 0 16px;
}
.safehomes-header .logo-link {
  display: block;
  width: 195px;
  height: 32px;
}
.safehomes-header .logo-link .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.safehomes-header .btn-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.safehomes-header .btn-grp .btn {
  width: 90px;
  height: 30px;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 500;
}
.safehomes-header .btn-grp .inquiry-btn {
  color: #333D4B;
  background-color: #fff;
}
.safehomes-header .btn-grp .start-btn {
  background-color: #0E7159;
  color: #fff;
}

.safehomes-main .visual-section {
  position: relative;
  padding: 265px 0;
}
.safehomes-main .visual-section .visual-bg-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/img/bg_main_section.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}
.safehomes-main .visual-section .visual-ttl {
  position: relative;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 43px;
}
.safehomes-main .visual-section .visual-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.safehomes-main .list01-section {
  padding-top: 124px;
  padding-bottom: 65px;
}
.safehomes-main .list-another-section {
  padding-top: 124px;
  padding-bottom: 78px;
}
.safehomes-main .section-another-list-wrap .section-another-list-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px;
}
@media all and (max-width: 600px) {
  .safehomes-main .section-another-list-wrap .section-another-list-grp {
    display: block;
  }
}
.safehomes-main .section-another-list-wrap .section-another-list {
  width: calc((100% - 96px) / 3);
}
@media all and (max-width: 600px) {
  .safehomes-main .section-another-list-wrap .section-another-list {
    width: 100%;
  }
}
.safehomes-main .section-another-list-wrap .list-another-txt-no {
  font-size: 21px;
  font-weight: 400;
  color: #0E7159;
  margin-bottom: 8px;
}
.safehomes-main .section-another-list-wrap .list-another-txt-no::before {
  content: "#";
}
.safehomes-main .section-another-list-wrap .list-another-txt-ttl {
  font-size: 21px;
  font-weight: 600;
  color: #333D4B;
  margin-bottom: 14px;
}
.safehomes-main .section-another-list-wrap .list-another-txt-dec {
  font-size: 16px;
  font-weight: 400;
  color: #6B7684;
}
.safehomes-main .phone-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.safehomes-main .phone-section.phone02-section .l-center {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media all and (max-width: 600px) {
  .safehomes-main .phone-section.phone02-section .l-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.safehomes-main .phone-section .l-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media all and (max-width: 600px) {
  .safehomes-main .phone-section .l-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.safehomes-main .phone-section .phone-img-wrap {
  width: 50%;
}
@media all and (max-width: 600px) {
  .safehomes-main .phone-section .phone-img-wrap {
    width: 100%;
  }
}
.safehomes-main .phone-section .phone-img-wrap .img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (max-width: 600px) {
  .safehomes-main .phone-section .phone-img-wrap .img {
    width: 100%;
  }
}
.safehomes-main .phone-section .phone-txt-wrap {
  width: 50%;
}
@media all and (max-width: 600px) {
  .safehomes-main .phone-section .phone-txt-wrap {
    width: 100%;
  }
}
.safehomes-main .phone-section .phone-txt-wrap .phone-txt-title {
  font-size: 24px;
  font-weight: 600;
  color: #0E7159;
}
.safehomes-main .phone-section .phone-txt-wrap .phone-txt-main-dec {
  font-size: 48px;
  font-weight: 600;
  color: #333D4B;
}
.safehomes-main .phone-section .phone-txt-wrap .phone-txt-sub-dec {
  font-size: 24px;
  font-weight: 500;
  color: #6B7684;
}

.safehomes-footer .footer-inner {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  padding: 0 16px;
}