@charset 'utf-8';
// 1. utility
@import "utility/function";
@import "utility/variable";
@import "utility/mixin";

// 2. base
@import "base/base";
@import "base/font";
@import "base/helper";

// 3. vendor

// 4. component
@import "component/button";
@import "component/form";
@import "component/icon";

// 5. layout
@import "layout/common";
@import "layout/header";
@import "layout/footer";

// 6. page
@import "page/safehomes-landing-page"; // 세이프홈즈 랜딩 클론코딩