body {
  background-color: #fff8dc;
  color: #505050;
}

.main_title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  justify-conent: center;
  gap: 10px;
}

.movieItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc((100% - 30px) / 4);
  margin-bottom: 40px;
}

.imageCard {
  border-radius: 14px;
  width: 230px;
  height: 345px;
}

.title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.like_btn {
  outline: none;
  border: none;
  padding-top: 6px;
  background-color: #fff8dc;
}
